exportPattern("^[[:alpha:]]+")

# Import packages
import(stats) # for dist, kmeans, etc.
import(utils) # for txtProgressBar etc.
import(graphics)
import(grDevices)
import(fastDummies) # (v.1.1.0) for dummy_cols()
import(MASS) # (v.7.3-49) for ginv()
import(mvtnorm) # (v.1.0-6) for dmvnorm()

import(scales) # for alpha (plotting)
import(foreach) # for foreach()
import(parallel) # for foreach()
import(doParallel) # for foreach()
# import(doSNOW) # for foreach(); we use this to make the progress bar work in foreach

import(parabar) # for progress bar (package by Mihai)
import(iterators) # Also for Mihai's progress bar solution

# Export
export(LCVAR)
export(numberPredictableObservations)


# Exported S3 Methods
S3method(print, ClusterVAR)
S3method(print, ClusterVARSummary)
S3method(print, ClusterVARCoef)
S3method(print, PredictableObs)
S3method(summary, ClusterVAR)
S3method(coef, ClusterVAR)
S3method(plot, ClusterVAR)

