exportPattern("^[[:alpha:]]+")

# Import packages
import(fastDummies) # (v.1.1.0) for dummy_cols()
import(MASS) # (v.7.3-49) for ginv()
import(mvtnorm) # (v.1.0-6) for dmvnorm()

# Export
export(LCVARclust)
export(inspectClusterVAR)


# Exported S3 Methods
S3method(print, ClusterVAR)
S3method(print, ClusterVARSummary)
S3method(summary, ClusterVAR)
S3method(coef, ClusterVAR)
